@model Technolab.OnlineLibrary.Web.ViewModels.BookSearchViewModel

@{
    ViewData["Title"] = "Books";
}

<h1 class="display-4 mb-6">Books</h1>

@foreach (var book in Model.Books)
{
    <div class="card mb-6">
        <div class="card-body">
            <h4 class="card-title">@book.Title</h4>
            <h6 class="card-subtitle mb-2 text-body-secondary">By @book.Author</h6>
            <a class="card-link" asp-area="" asp-controller="Checkouts" asp-action="Index">Get this item</a>
        </div>
    </div>
}

@*Paging*@
<div class="container">
    @if (Model.Pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Books" asp-action="Index" asp-route-page="1">
                        First
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Books" asp-action="Index" asp-route-page="@(Model.Pager.CurrentPage-1)">
                        Previous
                    </a>
                </li>
            }
            @for (var pageIndex = Model.Pager.StartPage; pageIndex <= Model.Pager.EndPage; pageIndex++)
            {
                <li class="page-item @(pageIndex == Model.Pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Books" asp-action="Index" asp-route-page="@pageIndex">
                        @pageIndex
                    </a>

                </li>
            }
            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Books" asp-action="Index" asp-route-page="@(Model.Pager.CurrentPage+1)">
                        Next
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Books" asp-action="Index" asp-route-page="@Model.Pager.TotalPages">
                        Last
                    </a>
                </li>
            }
        </ul>
    }
</div>